<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" 
        android:maxSdkVersion="32" />
    
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.DriveNext">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.DriveNext">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.DriveNext" />
        <activity
            android:name=".OnboardingActivity"
            android:theme="@style/Theme.DriveNext" />
        <activity
            android:name=".GettingStartedActivity"
            android:theme="@style/Theme.DriveNext" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.DriveNext" />
        <activity
            android:name=".SignUp1Activity"
            android:theme="@style/Theme.DriveNext" />
        <activity
            android:name=".SignUp2Activity"
            android:theme="@style/Theme.DriveNext" />
        <activity
            android:name=".SignUp3Activity"
            android:theme="@style/Theme.DriveNext" />
        <activity
            android:name=".CongratulationsActivity"
            android:theme="@style/Theme.DriveNext" />
        <activity
            android:name=".NoConnectionActivity"
            android:theme="@style/Theme.DriveNext" />
        <activity
            android:name=".SearchResultsActivity"
            android:theme="@style/Theme.DriveNext" />
        <activity
            android:name=".CarDetailsActivity"
            android:theme="@style/Theme.DriveNext" />
        <activity
            android:name=".BookingActivity"
            android:theme="@style/Theme.DriveNext" />
        <activity
            android:name=".BookingSuccessActivity"
            android:theme="@style/Theme.DriveNext" />
        <activity
            android:name=".MyBookingsActivity"
            android:theme="@style/Theme.DriveNext" />
        <activity
            android:name=".BookingDetailsActivity"
            android:theme="@style/Theme.DriveNext" />
        <activity
            android:name=".FavoritesActivity"
            android:theme="@style/Theme.DriveNext" />
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/Theme.DriveNext" />
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/Theme.DriveNext" />
        <activity
            android:name=".BecomeOwnerActivity"
            android:theme="@style/Theme.DriveNext" />
        <activity
            android:name=".AddCarStep1Activity"
            android:theme="@style/Theme.DriveNext" />
        <activity
            android:name=".AddCarStep2Activity"
            android:theme="@style/Theme.DriveNext" />
        <activity
            android:name=".AddCarStep3Activity"
            android:theme="@style/Theme.DriveNext" />
        <activity
            android:name=".AddCarSuccessActivity"
            android:theme="@style/Theme.DriveNext" />
    </application>
</manifest>

